:root {
  --color-primary: #efc10f;
  --color-primary-light: #dfdddb;
  --color-primary-dark: #676869;
  --color-neutral-grey: #9fa3a4;
  --font-primary: "Work Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
  background-color: #dfdddb;
}

body {
  margin: 0;
  background-color: #fff;
}

a {
  color: #000;
}

a:hover {
  color: var(--color-primary-dark);
}

.hero-banner {
  max-height: 500px;
}

.yellow-band {
  border-top: 75px solid #efc10f;
}

.classic-rule {
  border-top: 5px solid #000;
}

footer {
  background-color: #fff;
  color: var(--color-neutral-grey);
}
